<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
    <title>Create Account</title>
  </head>
  <body>
    <h3>Looks like you are a new user.</h3>
    <h1>Create Account</h1>
    <form action="/create_account" method="POST">
        <div class="center-container">
            <div class="form-group">
              <label for="username" class="usrlabel" style="font-weight: bold" id="inputfield" >Username:</label>
              <input type="text" id="username" name="username" class="login-input" required/>
            </div>
          </div>
          <div class="center-container">
            <div class="form-group">
              <label for="password" class="passlabel" style="font-weight: bold" id="inputfield" >Password:</label>
              <input type="password" id="password" name="password" class="login-input" required/>
            </div>
          </div>
      <button type="submit" class="buttondesign" id="login-buttons">Create Account</button>
    </form>
    <div>
      <a href="/"><button class="buttondesign" id="login-buttons">Back to Home Screen</button></a>
    </div>
  </body>
</html>
