<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
    <title>Recipe Sharing Platform</title>
  </head>
  <body>
    <h1 style="text-align: center">Welcome to Recipe Sharing Platform</h1>
    <div class="home-wrapper">
      <a href="/login"><button class="buttondesign" id="home-buttons">Login</button></a>
      <a href="/create_account"><button class="buttondesign" id="home-buttons">Create Account</button></a>
    </div>
  </body>
</html>
