<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
    <title>Options</title>
  </head>
  <body>
    <h1 style="text-align: center">Options</h1>
    <div>
      <a href="/recipes"><button class="buttondesign" id="options-buttons">View Recipes</button></a>
      <a href="/recipe/create"><button class="buttondesign" id="options-buttons">Create Recipe</button></a>
      <a href="/logout"><button class="buttondesign" id="options-buttons">Logout</button></a>
    </div>
  </body>
</html>
